
$title-color: #67BB83;
$sub-color: #000000;
$nav-text-primary: #F0F0FC;


html{
    scroll-behavior: smooth;
}


// Hero main page
.hero {
    background: radial-gradient(62.81% 65.82% at 37.63% 32.2%, rgba(255, 255, 255, 0) 96.12%, #FFFFFF 100%), url("./images1/coffeemain.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(111%) brightness(107%) saturate(149%);

}

.navbar-end a{
    font-family: 'source code pro', monospace;
    color: $sub-color;
}

.hero-head{
    .navbar-item img{
        max-height: 3rem;
    }
}
.hero-body {
    .title{
        font-family: 'Dancing Script', cursive;
        font-weight: 600;
        font-size: 5rem;
        // color: $title-color;
        // bottom: 50px;
        // text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.58);       
    }
    
    .subtitle{
        color: $sub-color;
        font-family: 'Raleway',sans-serif;
        font-size: 1.5rem;
        line-height: 150%;
        letter-spacing: -0.01em;
        width: 50%;
        height: 35rem;

        #p_logo{
            font-weight: 600;
        }

        #coffee{
            font-weight: 600;
            color: #A54F05;
        }

        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }


}

.about-us .content{
    .subtitle{
        font-family: 'Dancing Script', cursive;
        font-size: 3rem;
        font-weight: 600;
        }
    p{
        font-family: 'Raleway',sans-serif;
        // font-weight: 600;
        font-size: 1.3rem;
    
        .is-size-3{
            color: $sub-color;
        }
    }

    figure{
        margin-right: 0;
        margin-left: 0;
        border-radius: 7px;
        
    img{
        display: inherit;
        border-radius: 7px;
        box-shadow: -8px 9px 6px rgba(3, 0, 0, 0.50);
        transition: all 0.2s ease-in-out;
        &:hover{
            transform: scale(1.1);
            box-shadow: -8px 9px 6px rgba(3, 0, 0, 0.20);
        }
    }
    }
    
}

// ingredients page
.ingredients .content{
    .subtitle{
        font-family: 'Dancing Script', cursive;
        font-size: 3rem;
        font-weight: 600;
            }
    p{
    font-family: 'Raleway',sans-serif;
    font-size: 1.3rem;

    .is-size-3{
        color: $sub-color;
    }


}

    figure{
    margin-right: 0;
    margin-left: 0;
    border-radius: 7px;
    img{
        display: inherit;
        border-radius: 7px;
        box-shadow: -8px 9px 6px rgba(3, 0, 0, 0.50);
        transition: all 0.2s ease-in-out;
        &:hover{
            transform: scale(1.1);
            box-shadow: -8px 9px 6px rgba(3, 0, 0, 0.20);
        }
    }
}

    }
    
    // Contact us page
    .contact-us{
        .container #map{
            width: 100%;
            height: 400px;
        }
    }

