.hero {
  background: linear-gradient(139.71deg, rgba(129, 109, 92, 0.93) 18.56%, rgba(0, 0, 0, 0.94) 99.17%), url("images1/menupage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .hero-head .navbar-item img {
  max-height: 3rem;
}

.hero .hero-head .navbar-end .navbar-item {
  font-family: 'Source Code Pro', monospace;
  color: #F0F0FC;
}

.hero .hero-body .title {
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  font-size: 7rem;
  text-align: center;
  color: #F0F0FC;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.58);
}

.hero .hero-body .subtitle {
  color: #F0F0FC;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: -0.01em;
  height: 30rem;
}

.menu-tabs .container .card {
  margin: 20px;
  padding: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-tabs .container #espresso {
  background-image: url("./images1/espresso.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

.menu-tabs .container #espresso2 {
  background-image: url("./images1/s558175882703137928_p36_i1_w2150.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

.menu-tabs .container #espresso3 {
  background-image: url("./images1/s558175882703137928_p76_i1_w2031.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

.menu-tabs .container #espresso4 {
  background-image: url("./images1/s558175882703137928_p78_i2_w2560.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

.menu-tabs .container #latte {
  background-image: url("./images1/latte_.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

.menu-tabs .container #dark_choco_latte {
  background-image: url("./images1/dark_choco_latte.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

.menu-tabs .container #vanilla_latte {
  background-image: url("./images1/vanilla_latte.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

.menu-tabs .container #cali_latte {
  background-image: url("./images1/cali_latte.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

.menu-tabs .container #cold_brew {
  background-image: url("./images1/cold_brew.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

.menu-tabs .container #iced_coffee {
  background-image: url("./images1/iced_coffee.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

.menu-tabs .container #frappaccino {
  background-image: url("./images1/frappacino.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

.menu-tabs .container #iced_americano {
  background-image: url("./images1/iced_americano.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}
/*# sourceMappingURL=menu_style.css.map */