$title-color: #67BB83;
$sub-color: #000000;
$nav-text-primary: #F0F0FC;


.hero{
    background: linear-gradient(139.71deg, rgba(129, 109, 92, 0.93) 18.56%, rgba(0, 0, 0, 0.94) 99.17%),  url("images1/menupage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero-head {

        .navbar-item img{
            max-height: 3rem;
        }

        .navbar-end .navbar-item{
            font-family: 'Source Code Pro', monospace;
            color: $nav-text-primary;
        }

        
    }
    .hero-body {
        .title{
            font-family: 'Dancing Script', cursive;
            font-weight: 600;
            font-size: 7rem;
            text-align: center;
            color: $nav-text-primary;
            text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.58);       
        }
        
        .subtitle{
            color: $nav-text-primary;
            font-family: 'Raleway', sans-serif;
            font-size: 1.5rem;
            line-height: 150%;
            letter-spacing: -0.01em;
            height: 30rem;
        }
    
    
    }
}

.menu-tabs .container{
        #espresso{
        background-image: url("./images1/espresso.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
    }
        #espresso2{
        background-image: url("./images1/s558175882703137928_p36_i1_w2150.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
    }
        #espresso3{
        background-image: url("./images1/s558175882703137928_p76_i1_w2031.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
    }
        #espresso4{
        background-image: url("./images1/s558175882703137928_p78_i2_w2560.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
    }
        #latte{
        background-image: url("./images1/latte_.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
    }
        #dark_choco_latte{
        background-image: url("./images1/dark_choco_latte.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
    }
        #vanilla_latte{
        background-image: url("./images1/vanilla_latte.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
    }
        #cali_latte{
        background-image: url("./images1/cali_latte.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
    }
        #cold_brew{
        background-image: url("./images1/cold_brew.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
    }
        #iced_coffee{
        background-image: url("./images1/iced_coffee.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
    }
        #frappaccino{
        background-image: url("./images1/frappacino.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
    }
        #iced_americano{
        background-image: url("./images1/iced_americano.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
    }
}